@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

.container {
  display: flex;
  flex-basis: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 50em;
  background-color: #fbf5f3;
}

.customerCard {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0.5em;
  background-color: #fbf5f3;
}

.customerPhoneNumber {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customerName {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.customerName {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.searchDiv {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.search {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  &::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }
}
